

.additional-info h2{
  font-size: 10px;
  font-weight: bold;
}

.additional-info p{
  font-size: 12px;
  color: rgb(74, 74, 74);
}

.footer-container{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 50px 50px;
  margin-top: 0;
}

.first-footer{
  background-color: rgb(231, 231, 231);
  margin-bottom: 0;
  padding: 10px;
}

.first-footer-section1{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.first-footer-section2{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.first-footer section{
  width: 500px;
  height: 188px;
  padding: 0 72px 28px 0;
  margin: 44px 0 0 0;
}

.first-footer h2{
  font-size: 16px;
}

.first-footer p{
  font-size: 12px;
}

.left-footer{
  display: flex;
  align-items: center;
  gap: 40px;
}

.tweet-icon{
  width: 30px;
}

.facebook-icon{
  width: 20px;
}

.right-footer{
  text-align: right;
  
}

.company-name{
  font-weight: bold;
  font-size: 16px;
}

.company-place{
  font-weight: bold;
  font-size: 14px;
}

.company-place span{
  font-weight: 500;
  font-size: 12px;
}